:root {
  --point-color1: #4d76b3;
  --point-color2: #f6f6f6;
  --accent-color: #64bdab;
  --txt-color-400: #ccc;
  --txt-color-500: #666;
  --txt-color-600: #222;
  --button-txt-color1: #fff;
  --button-bg-color: #fff;
  --icon-color-red: #ff4040;
}

.leave-modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.leave-modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}
