.sidebar {
  position: sticky;
  top: 80px; /* header의 높이만큼 설정 */
  padding-top: 32px;
  grid-column: 1 / span 4;
  border: 1px solid black;
  background-color: #fff; /* 백그라운드 컬러 설정 */
}

.map-container {
  /* border-radius: 10px; */
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  /* padding-top: 56.25%; */
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.resetButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}

.searchField {
  display: flex;
  align-items: center;
  border: 1px solid var(--txt-color-400);
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 10px;
}

.searchInput {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 14px;
  color: var(--txt-color-500);
}

.searchInput::placeholder {
  color: var(--txt-color-400);
}

.searchIcon {
  color: var(--point-color1);
  margin: 0 10px;
}

.typeFilter {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.typeFilter button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.typeFilter .selected {
  background-color: #007bff;
  color: #fff;
}

.miniCardContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loadMoreButton {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
