.card {
  display: flex;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: pointer;
}

.image-container {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.details {
  flex-grow: 1;
  padding: 10px;
  position: relative;
  width: 100px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.address {
  font-size: 14px;
  color: var(--txt-color-500);
  margin: 5px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  color: var(--txt-color-500);
  font-weight: 700;
  font-size: 14px;
}

.likes svg {
  font-size: 14px;
  color: #ff4e4e;
}

.addButton {
  background-color: var(--txt-color-400);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.addButton:hover {
  background-color: var(--txt-color-500);
}
