:root {
  --point-color1: #4d76b3;
  --point-color2: #f6f6f6;
  --accent-color: #64bdab;
  --txt-color-400: #ccc;
  --txt-color-500: #666;
  --txt-color-600: #222;
  --button-txt-color1: #fff;
  --button-bg-color: #fff;
  --icon-color-red: #ff4040;
  --active-width: 0%;
}

.create-container {
  grid-column: 4 / span 9;
  padding-left: 16px;
  padding-top: 32px;
  width: 100%;
}

.group-create-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 42px;
}

.create-wrap {
  width: 100%;
  margin-bottom: 30px;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}
.form-group-title {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 30px;
  font-size: 16px;
  box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.15);
  margin-bottom: 20px;
}

.form-group-title .form-group-title-input {
  background: var(--point-color2);
  height: 30px;
  border-radius: 10px;
  padding: 3px 10px;
}
.form-group-title .form-group-submit-button {
  width: 66px;
  height: 30px;
  border: 1px solid var(--txt-color-400);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.15);
}

.form-group-title label {
  font-weight: 500;
}

.create-title-icon {
  margin-right: 10px;
}

.form-group-description {
  width: 100%;
  height: 120px;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 30px;
  font-size: 16px;
  box-shadow: 1px 1px 2px 2px rgba(100, 100, 100, 0.15);
  margin-bottom: 10px;
}

.form-group-description label {
  font-weight: 500;
  text-align: center;
}

.create-description-icon {
  margin-right: 5px;
}

.form-group-description-input {
  height: 60px;
  border-radius: 10px;
  line-height: 1.2rem;
}

.course-card-wrap {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 60px;
  grid-column-gap: 90px;
}

.create-courseseq-input {
  height: 1px;
}

.course-card {
  width: 360px;
  height: 370px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
.card-number {
  box-shadow: 1px 0px 4px 1px rgba(100, 100, 100, 0.15);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  border: 1px solid var(--txt-color-400);
}
.course-card:hover .card-number {
  border: 3px solid var(--accent-color);
  line-height: 21px;
  box-shadow: 0px 0px 4px 0px rgba(100, 189, 171, 0.5);
  color: var(--accent-color);
}
.card-content {
  border-radius: 10px;
  width: 330px;
  height: 100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-top: 1px soild rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 15px;
  translate: all ease 0.3s;
}
.card-content .unfilled {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 60px;
}
.course-card:hover .card-content {
  border: 3px solid var(--accent-color);
  box-shadow: 0px 0px 4px 0px rgba(100, 189, 171, 0.5);
}
.course-card:hover .card-content .unfilled {
  color: var(--accent-color);
}
.card-content .unfilled .unfilled-icon1 {
  position: absolute;
  top: 40%;
  left: 40%;
  color: var(--txt-color-400);
  translate: all ease 0.3s;
}
.card-content .unfilled .unfilled-icon2 {
  position: absolute;
  top: 50%;
  color: var(--txt-color-400);
  left: 55%;
  font-size: 50px;
  translate: all ease 0.3s;
}
.course-card:hover .card-content .unfilled .unfilled-icon1 {
  color: var(--accent-color);
}
.course-card:hover .card-content .unfilled .unfilled-icon2 {
  color: var(--accent-color);
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}
