.course-card {
  width: 360px;
  height: 370px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
.card-number {
  box-shadow: 1px 0px 4px 1px rgba(100, 100, 100, 0.15);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  border: 1px solid var(--txt-color-400);
  display: grid;
  place-items: center;
  padding-right: 2px;
}
.course-card:hover .card-number {
  border: 3px solid var(--accent-color);
  line-height: 27px;
  box-shadow: 0px 0px 4px 0px rgba(100, 189, 171, 0.5);
  color: var(--accent-color);
}
.card-content {
  border-radius: 10px;
  width: 330px;
  height: 100%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-top: 1px soild rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 15px;
  translate: all ease 0.3s;
}
.card-content .unfilled {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 60px;
}
.course-card:hover .card-content {
  border: 3px solid var(--accent-color);
  box-shadow: 0px 0px 4px 0px rgba(100, 189, 171, 0.5);
}
.course-card:hover .card-content .unfilled {
  color: var(--accent-color);
}
.card-content .unfilled .unfilled-icon1 {
  position: absolute;
  top: 40%;
  left: 40%;
  color: var(--txt-color-400);
  translate: all ease 0.3s;
}
.card-content .unfilled .unfilled-icon2 {
  position: absolute;
  top: 50%;
  color: var(--txt-color-400);
  left: 55%;
  font-size: 50px;
  translate: all ease 0.3s;
}
.course-card:hover .card-content .unfilled .unfilled-icon1 {
  color: var(--accent-color);
}
.course-card:hover .card-content .unfilled .unfilled-icon2 {
  color: var(--accent-color);
}

.course-card .card-content .filled {
  width: 100%;
  height: 100%;
}

.card-image-wrap {
  width: 100%;
  height: 150px; /* 원하는 높이로 조정하세요 */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.full-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.half-images {
  display: flex;
  width: 100%;
  height: 100%;
}

.half-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.quarter-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.quarter-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.filled-text-wrap {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.filled-text-wrap h3 {
  font-weight: 500;
}

.filled-text-wrap ul {
  list-style: disc;
  margin-top: 15px;
  margin-left: 30px;
}

.filled-text-wrap ul li {
  margin-bottom: 5px;
}
