.myReviews {
  border: 1px solid red;
  margin: 0 auto;
}

.myReviews h1 {
  font-weight: 700;
}

.myReviews .myReviewList {
  border: 1px solid blue;
}

.myReviews .myReviewList .editBtn {
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  margin-right: 15px;
}

.myReviews .myReviewList .editBtn1 {
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  margin-right: 15px;
}

.myReviews .myReviewList textarea {
  margin-bottom: 20px;
}

.myReviews .myReviewList .listItem {
  border: 1px solid yellowgreen;
  text-align: left;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.myReviews .myReviewList .listItem .content {
  background-color: var(--point-color2);
  border: 1px solid black;
  padding: 20px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
}
