.container {
  margin-top: 70px;
  gap: 20px;
}

.admin-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  height: 200px;
  justify-content: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  color: var(--point-color1);
  box-shadow: 0 2px 5px var(--point-color1);
}

.card-content {
  text-align: center;
  text-decoration: none;
}

.card-content h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}
.card-content a {
  text-decoration: none;
}
.card-content p {
  font-size: 20px;
  color: var(--txt-color-600);
}
