.adminReviewList {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.adminReviewList h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.adminReviewList .controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.adminReviewList .controls button,
.adminReviewList .controls select {
  padding: 10px;
  font-size: 14px;
}

.adminReviewList ul {
  list-style-type: none;
  padding: 0;
}

.adminReviewList li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.adminReviewList li:nth-child(even) {
  background-color: #f1f1f1;
}

.adminReviewList .reviewContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
  display: inline-block;
}

.adminReviewList li button {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.adminReviewList li button:hover {
  background-color: #0056b3;
}

.adminReviewList input[type='checkbox'] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
  border: 1px solid;
}

.adminReviewList input[type='checkbox']:checked {
  background-color: #007bff;
  border: 2px solid #0056b3;
}

.adminReviewList .pagination {
  text-align: center;
  margin-top: 20px;
}

.adminReviewList .pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.adminReviewList .pagination button:hover {
  background-color: #0056b3;
}
