.adminUserList {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.adminUserList h1 {
  margin-bottom: 30px;
  font-weight: 700;
}

.adminUserList .filtering {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.adminUserList .filter {
  text-align: left;
}

.adminUserList .filter button {
  margin-right: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid var(--point-color1);
  color: var(--point-color1);
  border-radius: 10px;
}

.adminUserList .filter button:hover {
  background-color: var(--point-color1);
  color: white;
}

.adminUserList .sort {
}

.adminUserList .sort select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.adminUserList p {
  margin: 10px 0;
  font-size: 16px;
}

.adminUserList ul {
  list-style: none;
  border-top: 1px solid black;
  margin-top: 10px;
  padding: 0;
}

.adminUserList li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  align-items: center;
}

.adminUserList li:not(:last-child) {
  margin-bottom: 10px;
}

.adminUserList li p {
  margin: 5px 0;
  line-height: 1.5;
}

.adminUserList li span {
  font-weight: bold;
}

.adminUserList .delBtn {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  margin-left: auto;
}

.adminUserList li.deleted-user {
  background-color: #ddd;
}

.adminUserList .deleted {
  color: rgb(225, 37, 37);
}

/* 체크박스 기본 스타일 */
.adminUserList input[type='checkbox'] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  cursor: pointer;
}

/* 체크된 체크박스 스타일 */
.adminUserList input[type='checkbox']:checked {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.adminUserList .userItem {
  display: flex;
  align-items: center;
}

.adminUserList li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  flex-grow: 1;
  cursor: pointer;
}

.adminUserList .pagination {
  text-align: center;
  margin-top: 20px;
}

.adminUserList .pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.adminUserList .pagination button:hover {
  background-color: #0056b3;
}
